// Color Variables
$black: #272727;
$gray-dark: #4e4e4e;
$gray-light: #cccccc;
$white-warm: #ffffff;
$red: #c45050;
$orange: #e0634d;

$gameboy-purple: #4b4b91;

$blue-green: rgb(56, 167, 157);

$apple-blue: rgb(86, 154, 218);
$apple-orange: rgb(255, 159, 10);
$apple-red: #f1574f;
$apple-teal: rgb(100, 210, 255);
$apple-yellow: rgb(255, 214, 10);
$apple-green: rgb(48, 209, 88);

$apple-gray-light: rgb(191, 191, 192);
$apple-gray-dark: rgb(84, 84, 86);

$bg-gray: #ececec;
